.App {
  text-align: left;
  padding-left: 20px;
}

.node {
  display: block;
  position: relative;
  left: 10px;
}

ul {
  list-style: none;
  padding-left: 20px;
}

.liclass {
  background: #f2f5f1;
  border: solid 1px gray;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.quest {
  padding: 10px;
  white-space: inherit;
  display: block;
  cursor: pointer;
  font-weight: bold;
}

.ans {
  padding: 10px;
  white-space: inherit;
  display: none;
  cursor: pointer;
}

li.selected .ans {
  display: block;
}
